.reminder {
  height: auto !important;
  width: 20% !important;
  text-align: center;
  margin: 0 auto ;
  border-radius: 4px !important
}

.list {
  bottom: auto;
}

.reminder-submit {
  width: auto !important;

}

.success {
  color: #28a745;
}
.danger {
  color: #dc3545;
}

.reminder-show {
  margin-left: 0 !important
}
